docs/agent_session.json
{
  "name": "agent_session",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-session",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "46bc4845-654a-4816-acfa-08d2970e29b6",
      "name": "Webhook Session",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2320,
        0
      ],
      "webhookId": "session-planning-v2"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════\n// ÉTAPE 0 — Extraction payload + paramètres par défaut\n// ═══════════════════════════════════════════════════════════\nconst body = $input.first().json.body;\nconst info = body.informationsGenerales || {};\nconst ressources = body.ressources || {};\n\n// --- Extraction payload brut ---\nconst payload = {\n  type: body.type || 'COURTE',\n  codeFormation: info.codeFormation || body.codeFormation,\n  dateDebut: info.dateDebut || body.dateDebut,\n  dateFin: info.dateFin || body.dateFin,\n  dureeHeures: Number(info.dureeHeures || body.dureeHeures),\n  heuresParJour: Number(info.heuresParJour || body.heuresParJour || 7),\n  nbSeances: Number(info.nbSeances || body.nbSeances || 0),\n  nbParticipants: Number(info.nbParticipants || body.nbParticipants || body.capaciteMax || 8),\n  joursActifs: body.joursActifs || ['LUNDI','MARDI','MERCREDI','JEUDI','VENDREDI'],\n  salleId: ressources.salleId || body.salleId || null,\n  formateurId: ressources.formateurId || body.formateurId || null,\n  sourceForm: body.sourceForm || 'CRM',\n  demandePar: body.demandePar || null\n};\n\n// --- Calculer nbSeances si pas fourni ---\nif (!payload.nbSeances || payload.nbSeances === 0) {\n  payload.nbSeances = Math.ceil(payload.dureeHeures / payload.heuresParJour);\n}\n\n// --- Observations (texte libre) ---\nconst observations = (body.notesComplementaires || body.notes || '').trim();\nconst needsAIParsing = observations.length > 0 \n  && observations.toLowerCase() !== 'ras' \n  && observations.toLowerCase() !== 'rien';\n\n// --- Paramètres par défaut (seront surchargés par IA si observations) ---\nconst paramsDefaut = {\n  matinDebut: '09:00',\n  matinFin: '12:00',\n  amDebut: '13:00',\n  amFin: '17:00',\n  datesExclues: [],\n  sallesExclues: [],\n  formateursExclus: [],\n  autresContraintes: []\n};\n\n// --- Validation basique ---\nconst erreurs = [];\nif (!payload.codeFormation) erreurs.push('codeFormation manquant');\nif (!payload.dateDebut) erreurs.push('dateDebut manquant');\nif (!payload.dateFin) erreurs.push('dateFin manquant');\nif (!payload.dureeHeures || payload.dureeHeures <= 0) erreurs.push('dureeHeures invalide');\nif (payload.dateDebut && payload.dateFin && payload.dateDebut >= payload.dateFin) {\n  erreurs.push('dateDebut doit etre avant dateFin');\n}\n\nreturn [{\n  json: {\n    payload,\n    observations,\n    needsAIParsing,\n    paramsDefaut,\n    erreurs,\n    valide: erreurs.length === 0\n  }\n}];"
      },
      "id": "73dea4b6-2e75-4caf-aa4a-257817abe54f",
      "name": "Extraire Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        -496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-valide",
              "leftValue": "={{ $json.valide }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "20e3bd18-57bf-473c-ad64-c89c946d6aff",
      "name": "Payload Valide?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1680,
        -496
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: 'Payload invalide', erreurs: $json.erreurs }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "d12fc4fc-3d6d-4766-b6b6-5d6f7dc4aefd",
      "name": "Refus Payload Invalide",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1456,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id_formation, code_formation, nom, categorie, duree_heures, tarif_standard, actif\nFROM formations\nWHERE code_formation = '{{ $json.payload.codeFormation }}'\nAND actif = true\nLIMIT 1",
        "options": {}
      },
      "id": "0e1e568a-938e-4627-8752-d23d285a3bd9",
      "name": "Verifier Formation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1456,
        -496
      ],
      "credentials": {
        "postgres": {
          "id": "FbRrDuph9vQyoUOV",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-formation",
              "leftValue": "={{ $json.id_formation }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "7f4719f0-c84d-4268-b138-cd22e14700a9",
      "name": "Formation Trouvee?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1232,
        -496
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'refused', message: 'Formation introuvable ou inactive', codeFormation: $('Extraire Payload').first().json.payload.codeFormation }) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "c8711dad-6434-42e3-9b13-a05572a419f2",
      "name": "Refus Formation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1008,
        -304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-obs",
              "leftValue": "={{ $('Extraire Payload').first().json.needsAIParsing }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "74bbbb20-0004-45d1-bd22-6f4f56d877db",
      "name": "Observations?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1008,
        -496
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Voici les observations de l'admin pour une formation:\n\"{{ $('Extraire Payload').first().json.observations }}\"\n\nContexte: formation du {{ $('Extraire Payload').first().json.payload.dateDebut }} au {{ $('Extraire Payload').first().json.payload.dateFin }}, {{ $('Extraire Payload').first().json.payload.heuresParJour }}h/jour.\n\nRetourne UNIQUEMENT un JSON (sans markdown, sans texte autour) avec les parametres qui DIFFERENT des valeurs par defaut ci-dessous. Si un parametre n'est pas mentionne dans les observations, NE L'INCLUS PAS dans le JSON.\n\nValeurs par defaut:\n- matinDebut: \"09:00\"\n- matinFin: \"12:00\"\n- amDebut: \"13:00\"\n- amFin: \"17:00\"\n- datesExclues: [] (tableau de dates YYYY-MM-DD)\n- sallesExclues: [] (tableau de noms de salles)\n- formateursExclus: [] (tableau de noms)\n- autresContraintes: [] (tableau de textes libres)\n\nExemples:\n- \"2h de pause dejeuner\" → {\"amDebut\": \"14:00\"}\n- \"commencer a 10h\" → {\"matinDebut\": \"10:00\"}\n- \"pas le 15 aout\" → {\"datesExclues\": [\"2026-08-15\"]}\n- \"eviter Atelier A\" → {\"sallesExclues\": [\"Atelier A\"]}\n- \"RAS\" ou vide → {}\n\nJSON:"
      },
      "id": "12a45fa4-2f40-4c03-8f0f-3fb54b87bdaa",
      "name": "IA Parser Observations",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -800,
        -608
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════\n// ÉTAPE 0.5 — Fusionner paramètres défaut + surcharges IA\n// ═══════════════════════════════════════════════════════════\nconst ep = $('Extraire Payload').first().json;\nconst paramsDefaut = ep.paramsDefaut;\nconst needsAI = ep.needsAIParsing;\n\nlet surcharges = {};\n\nif (needsAI) {\n  // L'IA a répondu — parser le JSON\n  try {\n    const aiOutput = $('IA Parser Observations').first().json.text || $('IA Parser Observations').first().json.response || '';\n    const jsonMatch = aiOutput.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      surcharges = JSON.parse(jsonMatch[0]);\n    }\n  } catch (e) {\n    // Si parsing échoue, on continue avec les défauts\n    surcharges = {};\n  }\n}\n\n// Fusionner: défauts + surcharges (les surcharges écrasent les défauts)\nconst params = {\n  matinDebut: surcharges.matinDebut || paramsDefaut.matinDebut,\n  matinFin: surcharges.matinFin || paramsDefaut.matinFin,\n  amDebut: surcharges.amDebut || paramsDefaut.amDebut,\n  amFin: surcharges.amFin || paramsDefaut.amFin,\n  datesExclues: surcharges.datesExclues || paramsDefaut.datesExclues,\n  sallesExclues: surcharges.sallesExclues || paramsDefaut.sallesExclues,\n  formateursExclus: surcharges.formateursExclus || paramsDefaut.formateursExclus,\n  autresContraintes: surcharges.autresContraintes || paramsDefaut.autresContraintes\n};\n\n// Calculer heures effectives par jour avec les plages\nfunction heuresEntre(debut, fin) {\n  const [h1, m1] = debut.split(':').map(Number);\n  const [h2, m2] = fin.split(':').map(Number);\n  return (h2 + m2/60) - (h1 + m1/60);\n}\n\nconst heuresMatin = heuresEntre(params.matinDebut, params.matinFin);\nconst heuresAM = heuresEntre(params.amDebut, params.amFin);\nconst heuresEffectivesJour = heuresMatin + heuresAM;\n\nparams.heuresMatin = heuresMatin;\nparams.heuresAM = heuresAM;\nparams.heuresEffectivesJour = heuresEffectivesJour;\n\n// Recalculer nbSeances si heuresParJour a changé via les plages\nconst payload = ep.payload;\nconst nbSeancesRecalcule = Math.ceil(payload.dureeHeures / heuresEffectivesJour);\n\nreturn [{\n  json: {\n    payload: { ...payload, nbSeances: nbSeancesRecalcule },\n    params,\n    formation: $('Verifier Formation').first().json,\n    surchargesIA: surcharges,\n    observationsOriginales: ep.observations\n  }\n}];"
      },
      "id": "a67f02f4-f954-454c-a32c-dc4903e6a181",
      "name": "Fusionner Parametres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -480
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════\n// ÉTAPE 1 — Calculer les dates candidates\n// ═══════════════════════════════════════════════════════════\nconst { payload, params } = $input.first().json;\n\nconst JOURS_MAP = {\n  'LUNDI': 1, 'MARDI': 2, 'MERCREDI': 3, 'JEUDI': 4,\n  'VENDREDI': 5, 'SAMEDI': 6, 'DIMANCHE': 0\n};\n\nconst joursActifsNum = payload.joursActifs.map(j => JOURS_MAP[j]);\nconst datesExcluesSet = new Set(params.datesExclues || []);\n\nconst dates = [];\nconst start = new Date(payload.dateDebut + 'T00:00:00');\nconst end = new Date(payload.dateFin + 'T00:00:00');\n\nfor (let d = new Date(start); d <= end; d.setDate(d.getDate() + 1)) {\n  const dayOfWeek = d.getDay();\n  if (!joursActifsNum.includes(dayOfWeek)) continue;\n  \n  const dateStr = d.toISOString().split('T')[0];\n  if (datesExcluesSet.has(dateStr)) continue;\n  \n  dates.push(dateStr);\n}\n\n// Vérification: assez de dates candidates?\nconst nbSeancesRequises = payload.nbSeances;\nconst assezDeDates = dates.length >= nbSeancesRequises;\n\n// Construire la liste SQL pour les requêtes suivantes\nconst datesSql = dates.map(d => `'${d}'`).join(',');\n\nreturn [{\n  json: {\n    payload: $input.first().json.payload,\n    params: $input.first().json.params,\n    formation: $input.first().json.formation,\n    datesCandidates: dates,\n    nbDatesCandidates: dates.length,\n    nbSeancesRequises,\n    assezDeDates,\n    datesSql,\n    surchargesIA: $input.first().json.surchargesIA,\n    observationsOriginales: $input.first().json.observationsOriginales\n  }\n}];"
      },
      "id": "1de5fd95-26d1-4899-b2f8-ab39fb746913",
      "name": "Calculer Dates Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-dates",
              "leftValue": "={{ $json.assezDeDates }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77bc13dc-1746-472b-b776-0ed1b6225b5b",
      "name": "Assez de Dates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -112,
        -496
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'refused', message: 'Pas assez de dates disponibles dans la fenetre', details: { datesCandidates: $json.nbDatesCandidates, seancesRequises: $json.nbSeancesRequises, joursActifs: $json.payload.joursActifs, fenetre: $json.payload.dateDebut + ' → ' + $json.payload.dateFin, datesExclues: $json.params.datesExclues } }) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "151d96b7-d638-4554-a480-a195fb3c7530",
      "name": "Refus Pas Assez Dates",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        112,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  s.id_salle, s.nom, s.code, s.capacite_max, s.equipements, s.formations_compatibles,\n  COALESCE(\n    json_agg(\n      json_build_object(\n        'date', rs.date_debut::date,\n        'heure_debut', to_char(rs.date_debut, 'HH24:MI'),\n        'heure_fin', to_char(rs.date_fin, 'HH24:MI'),\n        'id_session', rs.id_session\n      )\n    ) FILTER (WHERE rs.id_reservation IS NOT NULL), '[]'\n  ) AS reservations_existantes\nFROM salles s\nLEFT JOIN reservations_salles rs \n  ON rs.id_salle = s.id_salle \n  AND rs.statut != 'ANNULE'\n  AND rs.date_debut::date IN ({{ $('Calculer Dates Candidates').first().json.datesSql }})\nWHERE s.statut = 'ACTIVE' \n  AND s.capacite_max >= {{ $('Calculer Dates Candidates').first().json.payload.nbParticipants }}\nGROUP BY s.id_salle\nORDER BY s.capacite_max ASC",
        "options": {}
      },
      "id": "a1706d0e-dc8f-466a-b721-915730c03311",
      "name": "Query Salles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        112,
        -496
      ],
      "credentials": {
        "postgres": {
          "id": "FbRrDuph9vQyoUOV",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  f.id_formateur, f.nom, f.prenom, f.specialites, f.formations_enseignees,\n  COALESCE(\n    json_agg(\n      json_build_object(\n        'date', df.date,\n        'creneau', df.creneau_journee,\n        'type', df.type_disponibilite\n      )\n    ) FILTER (WHERE df.id_disponibilite IS NOT NULL AND df.type_disponibilite = 'DISPONIBLE'), '[]'\n  ) AS jours_disponibles\nFROM formateurs f\nLEFT JOIN disponibilites_formateurs df \n  ON df.id_formateur = f.id_formateur\n  AND df.date IN ({{ $('Calculer Dates Candidates').first().json.datesSql }})\n  AND df.type_disponibilite = 'DISPONIBLE'\nWHERE f.statut = 'ACTIF'\nGROUP BY f.id_formateur\nORDER BY f.nom",
        "options": {}
      },
      "id": "e412631b-8595-40ef-9375-2fbec777105e",
      "name": "Query Formateurs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        336,
        -496
      ],
      "credentials": {
        "postgres": {
          "id": "FbRrDuph9vQyoUOV",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════\n// ÉTAPE 3 — Croiser disponibilités : construire la grille\n// ═══════════════════════════════════════════════════════════\nconst prev = $('Calculer Dates Candidates').first().json;\nconst { payload, params, formation, datesCandidates } = prev;\n\n// Récupérer résultats SQL\nconst sallesRaw = $('Query Salles').all().map(i => i.json);\nconst formateursRaw = $('Query Formateurs').all().map(i => i.json);\n\n// --- Parser les réservations existantes par salle ---\nconst salles = sallesRaw.map(s => {\n  let reservations = [];\n  try {\n    reservations = typeof s.reservations_existantes === 'string' \n      ? JSON.parse(s.reservations_existantes) \n      : (s.reservations_existantes || []);\n  } catch(e) { reservations = []; }\n  \n  return {\n    idSalle: s.id_salle,\n    nom: s.nom,\n    code: s.code,\n    capaciteMax: s.capacite_max,\n    reservations: reservations\n  };\n});\n\n// --- Parser les disponibilités formateurs ---\nconst formateurs = formateursRaw.map(f => {\n  let dispos = [];\n  try {\n    dispos = typeof f.jours_disponibles === 'string'\n      ? JSON.parse(f.jours_disponibles)\n      : (f.jours_disponibles || []);\n  } catch(e) { dispos = []; }\n  \n  // Vérifier si le formateur peut enseigner cette formation\n  const formations = f.formations_enseignees || [];\n  const peutEnseigner = formations.includes(formation.id_formation);\n  \n  return {\n    idFormateur: f.id_formateur,\n    nom: f.nom,\n    prenom: f.prenom,\n    nomComplet: f.prenom + ' ' + f.nom,\n    specialites: f.specialites || [],\n    peutEnseigner,\n    joursDisponibles: dispos.map(d => {\n      const dateStr = typeof d.date === 'string' ? d.date.split('T')[0] : d.date;\n      return dateStr;\n    })\n  };\n}).filter(f => f.peutEnseigner); // Garder que ceux qualifiés\n\n// --- Appliquer exclusions (depuis observations IA) ---\nconst sallesExclues = new Set((params.sallesExclues || []).map(s => s.toLowerCase()));\nconst formateursExclus = new Set((params.formateursExclus || []).map(f => f.toLowerCase()));\n\nconst sallesFiltrees = salles.filter(s => !sallesExclues.has(s.nom.toLowerCase()));\nconst formateursFiltres = formateurs.filter(f => \n  !formateursExclus.has(f.nomComplet.toLowerCase()) && \n  !formateursExclus.has(f.nom.toLowerCase())\n);\n\n// --- Si salle/formateur imposé, filtrer ---\nconst sallesFinales = payload.salleId \n  ? sallesFiltrees.filter(s => s.idSalle === payload.salleId)\n  : sallesFiltrees;\n\nconst formateursFinaux = payload.formateurId\n  ? formateursFiltres.filter(f => f.idFormateur === payload.formateurId)\n  : formateursFiltres;\n\n// --- Construire la grille par date ---\nconst grille = datesCandidates.map(date => {\n  // Salles libres ce jour\n  const sallesLibres = sallesFinales.filter(salle => {\n    // Vérifier si la salle a des réservations ce jour qui chevauchent nos plages\n    const reservsCeJour = salle.reservations.filter(r => {\n      const rDate = typeof r.date === 'string' ? r.date.split('T')[0] : r.date;\n      return rDate === date;\n    });\n    \n    if (reservsCeJour.length === 0) return true; // Aucune réservation = libre\n    \n    // Vérifier chevauchement avec nos plages horaires\n    const nosPlages = [\n      { debut: params.matinDebut, fin: params.matinFin },\n      { debut: params.amDebut, fin: params.amFin }\n    ];\n    \n    for (const reserv of reservsCeJour) {\n      for (const plage of nosPlages) {\n        // Chevauchement si: reserv.debut < plage.fin ET reserv.fin > plage.debut\n        if (reserv.heure_debut < plage.fin && reserv.heure_fin > plage.debut) {\n          return false; // Conflit!\n        }\n      }\n    }\n    return true; // Pas de chevauchement\n  });\n  \n  // Formateurs disponibles ce jour\n  const formateursDispo = formateursFinaux.filter(f => {\n    // Si pas de données de disponibilité, considérer comme potentiellement dispo\n    if (f.joursDisponibles.length === 0 && formateursFinaux.length > 0) return true;\n    return f.joursDisponibles.includes(date);\n  });\n  \n  return {\n    date,\n    sallesLibres: sallesLibres.map(s => ({ idSalle: s.idSalle, nom: s.nom, code: s.code, capaciteMax: s.capaciteMax })),\n    formateursDispo: formateursDispo.map(f => ({ idFormateur: f.idFormateur, nomComplet: f.nomComplet })),\n    viable: sallesLibres.length > 0 // Au minimum une salle libre\n  };\n});\n\n// --- Résumé ---\nconst datesViables = grille.filter(g => g.viable);\nconst solutionsPossibles = datesViables.length >= payload.nbSeances;\n\nreturn [{\n  json: {\n    payload,\n    params,\n    formation,\n    grille,\n    datesViables: datesViables.length,\n    datesTotales: datesCandidates.length,\n    nbSeancesRequises: payload.nbSeances,\n    solutionsPossibles,\n    sallesDisponibles: sallesFinales.map(s => s.nom),\n    formateursQualifies: formateursFinaux.map(f => f.nomComplet),\n    surchargesIA: prev.surchargesIA,\n    observationsOriginales: prev.observationsOriginales\n  }\n}];"
      },
      "id": "fe8b537f-a9ea-4f5c-a6c2-2890d6f39af0",
      "name": "Croiser Disponibilites",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-solutions",
              "leftValue": "={{ $json.solutionsPossibles }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "553ee0ea-4574-46f1-b699-94f6a0a170e8",
      "name": "Solutions Viables?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        768,
        -496
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'refused', message: 'Pas assez de creneaux disponibles', details: { datesViables: $json.datesViables, seancesRequises: $json.nbSeancesRequises, sallesDisponibles: $json.sallesDisponibles, formateursQualifies: $json.formateursQualifies, grille: $json.grille } }) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "f7ca7654-169f-40bd-b385-18c0afac626c",
      "name": "Refus Aucune Solution",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        992,
        -304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tu es un planificateur de formations. Tu dois choisir la MEILLEURE combinaison de {{ $json.nbSeancesRequises }} seances parmi les possibilites ci-dessous.\n\n## DEMANDE\n- Formation: {{ $json.formation.nom }} ({{ $json.formation.code_formation }})\n- {{ $json.payload.dureeHeures }}h totales, {{ $json.params.heuresEffectivesJour }}h/jour, {{ $json.nbSeancesRequises }} seances\n- Fenetre: {{ $json.payload.dateDebut }} → {{ $json.payload.dateFin }}\n- Jours actifs: {{ $json.payload.joursActifs.join(', ') }}\n- Participants: {{ $json.payload.nbParticipants }}\n{{ $json.observationsOriginales ? '- Observations admin: ' + $json.observationsOriginales : '' }}\n{{ $json.surchargesIA && Object.keys($json.surchargesIA).length > 0 ? '- Contraintes extraites: ' + JSON.stringify($json.surchargesIA) : '' }}\n\n## GRILLE DES POSSIBILITES\n{{ JSON.stringify($json.grille.filter(g => g.viable), null, 2) }}\n\n## CRITERES DE CHOIX (par ordre de priorite)\n1. MEME SALLE sur toutes les seances (coherence lieu)\n2. MEME FORMATEUR sur toutes les seances (coherence pedagogique)\n3. DATES les plus REGROUPEES (consecutives > etalees)\n4. Salle avec capacite la plus adaptee (pas trop grande, pas trop petite)\n\n## REPONSE\nRetourne UNIQUEMENT un JSON (sans markdown, sans texte autour) avec cette structure exacte:\n{\n  \"seances\": [\n    {\"date\": \"YYYY-MM-DD\", \"idSalle\": 1, \"nomSalle\": \"Atelier A\", \"idFormateur\": 2, \"nomFormateur\": \"Marie Dupont\"}\n  ],\n  \"raisonnement\": \"explication courte du choix\",\n  \"coherenceSalle\": true,\n  \"coherenceFormateur\": true\n}\n\nSi aucun formateur n'est disponible, mettre idFormateur: null et nomFormateur: null (le formateur n'est PAS bloquant).\n\nJSON:"
      },
      "id": "31c5bff6-ede4-4a33-a5b5-7585092542f6",
      "name": "IA Choix Optimal",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        944,
        -800
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════\n// ÉTAPE 4b — Parser le choix de l'IA\n// ═══════════════════════════════════════════════════════════\nconst aiOutput = $input.first().json.text || $input.first().json.response || '';\nconst prev = $('Croiser Disponibilites').first().json;\n\nlet choix;\ntry {\n  const jsonMatch = aiOutput.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    choix = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('Pas de JSON dans la reponse IA');\n  }\n} catch (e) {\n  return [{\n    json: {\n      erreur: true,\n      message: 'Erreur parsing choix IA: ' + e.message,\n      raw: aiOutput\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    payload: prev.payload,\n    params: prev.params,\n    formation: prev.formation,\n    choix: choix,\n    seances: choix.seances || [],\n    raisonnement: choix.raisonnement || '',\n    erreur: false\n  }\n}];"
      },
      "id": "7bbcc4f3-ea7f-4d89-b895-3d2bb1b85f61",
      "name": "Parser Choix IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -496
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════\n// ÉTAPE 5 — Générer les créneaux horaires précis\n// ═══════════════════════════════════════════════════════════\nconst { payload, params, formation, seances } = $input.first().json;\n\nconst creneaux = [];\nlet heuresRestantes = payload.dureeHeures;\n\nfor (let i = 0; i < seances.length; i++) {\n  const seance = seances[i];\n  \n  if (heuresRestantes <= 0) break;\n  \n  // Calculer heures pour cette séance\n  const heuresMatin = Math.min(\n    params.heuresMatin, \n    heuresRestantes\n  );\n  \n  if (heuresMatin > 0) {\n    // Calculer heure fin matin exacte\n    const [h, m] = params.matinDebut.split(':').map(Number);\n    const finMinutes = (h * 60 + m) + (heuresMatin * 60);\n    const finH = Math.floor(finMinutes / 60);\n    const finM = finMinutes % 60;\n    const heureFin = String(finH).padStart(2, '0') + ':' + String(finM).padStart(2, '0');\n    \n    creneaux.push({\n      date: seance.date,\n      heureDebut: params.matinDebut,\n      heureFin: Math.min(finMinutes, timeToMin(params.matinFin)) === finMinutes ? heureFin : params.matinFin,\n      dureeHeures: heuresMatin,\n      periode: 'MATIN',\n      idSalle: seance.idSalle,\n      nomSalle: seance.nomSalle,\n      idFormateur: seance.idFormateur,\n      nomFormateur: seance.nomFormateur\n    });\n    heuresRestantes -= heuresMatin;\n  }\n  \n  if (heuresRestantes <= 0) break;\n  \n  const heuresAM = Math.min(\n    params.heuresAM, \n    heuresRestantes\n  );\n  \n  if (heuresAM > 0) {\n    // Calculer heure fin AM exacte\n    const [h, m] = params.amDebut.split(':').map(Number);\n    const finMinutes = (h * 60 + m) + (heuresAM * 60);\n    const finH = Math.floor(finMinutes / 60);\n    const finM = finMinutes % 60;\n    const heureFin = String(finH).padStart(2, '0') + ':' + String(finM).padStart(2, '0');\n    \n    creneaux.push({\n      date: seance.date,\n      heureDebut: params.amDebut,\n      heureFin: Math.min(finMinutes, timeToMin(params.amFin)) === finMinutes ? heureFin : params.amFin,\n      dureeHeures: heuresAM,\n      periode: 'APRES_MIDI',\n      idSalle: seance.idSalle,\n      nomSalle: seance.nomSalle,\n      idFormateur: seance.idFormateur,\n      nomFormateur: seance.nomFormateur\n    });\n    heuresRestantes -= heuresAM;\n  }\n}\n\nfunction timeToMin(t) {\n  const [h, m] = t.split(':').map(Number);\n  return h * 60 + m;\n}\n\n// Arrondir à 30min (granularité)\nconst creneauxArrondis = creneaux.map(c => {\n  // Arrondir heureFin au créneau de 30min supérieur\n  const finMin = timeToMin(c.heureFin);\n  const arrondi = Math.ceil(finMin / 30) * 30;\n  const h = Math.floor(arrondi / 60);\n  const m = arrondi % 60;\n  return {\n    ...c,\n    heureFin: String(h).padStart(2, '0') + ':' + String(m).padStart(2, '0')\n  };\n});\n\nconst totalHeuresPlacees = creneauxArrondis.reduce((sum, c) => sum + c.dureeHeures, 0);\n\nreturn [{\n  json: {\n    payload,\n    params,\n    formation,\n    seances: $input.first().json.seances,\n    raisonnement: $input.first().json.raisonnement,\n    creneaux: creneauxArrondis,\n    totalHeuresPlacees,\n    heuresRestantes: Math.max(0, payload.dureeHeures - totalHeuresPlacees),\n    nbCreneaux: creneauxArrondis.length\n  }\n}];"
      },
      "id": "b299c960-f4ea-4605-b82b-d507e4064dbb",
      "name": "Generer Creneaux",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -496
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════\n// ÉTAPE 6 — Validateur (filet de sécurité)\n// ═══════════════════════════════════════════════════════════\nconst data = $input.first().json;\nconst { payload, params, formation, creneaux, seances, totalHeuresPlacees } = data;\n\nconst erreurs = [];\nconst warnings = [];\n\n// 1. Nb séances correct?\nconst datesUniques = [...new Set(creneaux.map(c => c.date))];\nif (datesUniques.length !== payload.nbSeances) {\n  // Tolérance: si on a placé toutes les heures en moins de séances, c'est OK\n  if (datesUniques.length < payload.nbSeances && totalHeuresPlacees >= payload.dureeHeures) {\n    warnings.push(`${datesUniques.length} seances au lieu de ${payload.nbSeances} mais toutes les heures sont placees`);\n  } else if (datesUniques.length < payload.nbSeances) {\n    erreurs.push(`Seulement ${datesUniques.length} seances sur ${payload.nbSeances} requises`);\n  }\n}\n\n// 2. Total heures = dureeHeures?\nconst tolerance = 0.5; // 30min de tolérance\nif (Math.abs(totalHeuresPlacees - payload.dureeHeures) > tolerance) {\n  erreurs.push(`Total heures: ${totalHeuresPlacees}h vs ${payload.dureeHeures}h demandees (ecart > 30min)`);\n}\n\n// 3. Dates dans la fenêtre?\nconst dateDebut = payload.dateDebut;\nconst dateFin = payload.dateFin;\nfor (const c of creneaux) {\n  if (c.date < dateDebut || c.date > dateFin) {\n    erreurs.push(`Creneau ${c.date} hors fenetre ${dateDebut} - ${dateFin}`);\n  }\n}\n\n// 4. Jours actifs respectés?\nconst JOURS_MAP = { 0: 'DIMANCHE', 1: 'LUNDI', 2: 'MARDI', 3: 'MERCREDI', 4: 'JEUDI', 5: 'VENDREDI', 6: 'SAMEDI' };\nfor (const c of creneaux) {\n  const jour = JOURS_MAP[new Date(c.date + 'T12:00:00').getDay()];\n  if (!payload.joursActifs.includes(jour)) {\n    erreurs.push(`Creneau ${c.date} tombe un ${jour}, non actif`);\n  }\n}\n\n// 5. Pas de salle null?\nfor (const c of creneaux) {\n  if (!c.idSalle) {\n    erreurs.push(`Creneau ${c.date} ${c.periode} sans salle assignee`);\n  }\n}\n\n// 6. Heures arrondies à 30min?\nfunction timeToMin(t) {\n  const [h, m] = t.split(':').map(Number);\n  return h * 60 + m;\n}\nfor (const c of creneaux) {\n  if (timeToMin(c.heureDebut) % 30 !== 0) {\n    warnings.push(`Heure debut ${c.heureDebut} non arrondie a 30min`);\n  }\n  if (timeToMin(c.heureFin) % 30 !== 0) {\n    warnings.push(`Heure fin ${c.heureFin} non arrondie a 30min`);\n  }\n}\n\n// 7. Pause déjeuner respectée? (pas de créneau qui chevauche la pause)\nfor (const date of datesUniques) {\n  const creneauxJour = creneaux.filter(c => c.date === date);\n  const matins = creneauxJour.filter(c => c.periode === 'MATIN');\n  const ams = creneauxJour.filter(c => c.periode === 'APRES_MIDI');\n  \n  for (const m of matins) {\n    for (const a of ams) {\n      if (timeToMin(m.heureFin) > timeToMin(a.heureDebut)) {\n        erreurs.push(`${date}: chevauchement matin/AM (${m.heureFin} > ${a.heureDebut})`);\n      }\n    }\n  }\n}\n\nconst valide = erreurs.length === 0;\n\n// Construire rapport\nconst rapport = [\n  `Formation: ${formation.nom} (${formation.code_formation})`,\n  `Fenetre: ${payload.dateDebut} → ${payload.dateFin}`,\n  `${datesUniques.length} seances, ${totalHeuresPlacees}h/${payload.dureeHeures}h`,\n  `Salle: ${[...new Set(creneaux.map(c => c.nomSalle))].join(', ')}`,\n  `Formateur: ${[...new Set(creneaux.filter(c => c.nomFormateur).map(c => c.nomFormateur))].join(', ') || 'Non assigne'}`,\n  data.raisonnement ? `Choix IA: ${data.raisonnement}` : '',\n  warnings.length > 0 ? `Warnings: ${warnings.join('; ')}` : '',\n  erreurs.length > 0 ? `ERREURS: ${erreurs.join('; ')}` : ''\n].filter(l => l).join('\\n');\n\nreturn [{\n  json: {\n    valide,\n    erreurs,\n    warnings,\n    rapport,\n    payload,\n    params,\n    formation,\n    creneaux,\n    seances,\n    datesUniques,\n    totalHeuresPlacees\n  }\n}];"
      },
      "id": "3605fcc9-b3e2-4092-8e47-cb066d1ff86c",
      "name": "Validateur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        -496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valide }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a3e977df-4f32-48d9-880c-55cc64147083",
      "name": "Validation OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1872,
        -496
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'refused', message: 'Validation echouee', erreurs: $json.erreurs, warnings: $json.warnings, rapport: $json.rapport }) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "1ab40ea5-ef15-4577-9fe0-b6d89e04daeb",
      "name": "Refus Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2096,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO sessions (\n  id_formation,\n  nom_session,\n  date_debut,\n  date_fin,\n  capacite_max,\n  nb_inscrits,\n  statut_session,\n  statut_validation,\n  id_salle,\n  formateur_principal_id,\n  planning_ia,\n  rapport_ia,\n  notes,\n  cree_le,\n  modifie_le\n) VALUES (\n  {{ $json.formation.id_formation }},\n  '{{ $json.formation.nom }} - {{ $json.datesUniques[0].substring(0,7) }}',\n  '{{ $json.datesUniques[0] }}',\n  '{{ $json.datesUniques[$json.datesUniques.length - 1] }}',\n  {{ $json.payload.nbParticipants }},\n  0,\n  'PREVUE',\n  'VALIDE',\n  {{ $json.creneaux[0].idSalle }},\n  {{ $json.creneaux[0].idFormateur || 'NULL' }},\n  '{{ JSON.stringify({ creneaux: $json.creneaux, seances: $json.seances, params: $json.params }).replace(/'/g, \"''\") }}'::json,\n  '{{ $json.rapport.replace(/'/g, \"''\").replace(/\\n/g, ' ') }}',\n  '{{ ($json.payload.notes || '').replace(/'/g, \"''\") }}',\n  NOW(),\n  NOW()\n) RETURNING id_session, nom_session, date_debut, date_fin",
        "options": {}
      },
      "id": "9ef8e05a-1bbc-4652-9fd0-2a908ad3a669",
      "name": "Creer Session BDD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2096,
        -496
      ],
      "credentials": {
        "postgres": {
          "id": "FbRrDuph9vQyoUOV",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════\n// ÉTAPE 7b — Préparer les réservations de salles\n// ═══════════════════════════════════════════════════════════\nconst sessionCreated = $input.first().json;\nconst idSession = sessionCreated.id_session;\nconst creneaux = $('Validateur').first().json.creneaux;\n\nconst reservations = creneaux.map(c => ({\n  json: {\n    idSession,\n    idSalle: c.idSalle,\n    dateDebut: c.date + ' ' + c.heureDebut + ':00+02',\n    dateFin: c.date + ' ' + c.heureFin + ':00+02',\n    nomSalle: c.nomSalle,\n    periode: c.periode\n  }\n}));\n\nreturn reservations;"
      },
      "id": "76cbbfb4-e010-4a6a-90e0-ef1d9a7782f0",
      "name": "Preparer Reservations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        -496
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO reservations_salles (\n  id_salle,\n  id_session,\n  date_debut,\n  date_fin,\n  statut,\n  cree_le,\n  modifie_le\n) VALUES (\n  {{ $json.idSalle }},\n  {{ $json.idSession }},\n  '{{ $json.dateDebut }}',\n  '{{ $json.dateFin }}',\n  'CONFIRME',\n  NOW(),\n  NOW()\n) RETURNING id_reservation",
        "options": {}
      },
      "id": "541406a9-a84c-4084-9aa8-931ea78097a5",
      "name": "Creer Reservations Salles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2528,
        -496
      ],
      "credentials": {
        "postgres": {
          "id": "FbRrDuph9vQyoUOV",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO notifications (\n  source_agent,\n  categorie,\n  type,\n  priorite,\n  titre,\n  message,\n  audience,\n  entite_type,\n  lien_action,\n  cree_le,\n  modifie_le\n) VALUES (\n  'marjorie-planning-v2',\n  'PLANNING',\n  'SESSION_CREEE',\n  'NORMALE',\n  'Session creee: {{ $('Creer Session BDD').first().json.nom_session }}',\n  '{{ $('Validateur').first().json.rapport.replace(/'/g, \"''\").replace(/\\n/g, ' ') }}',\n  'ADMIN',\n  'session',\n  '/admin/sessions',\n  NOW(),\n  NOW()\n) RETURNING id_notification",
        "options": {}
      },
      "id": "54c2e37a-e121-43d2-ad81-d9d6cf6b08b1",
      "name": "Notification Admin",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2752,
        -496
      ],
      "credentials": {
        "postgres": {
          "id": "FbRrDuph9vQyoUOV",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  status: 'success',\n  message: 'Session creee avec succes',\n  data: {\n    idSession: $('Creer Session BDD').first().json.id_session,\n    nomSession: $('Creer Session BDD').first().json.nom_session,\n    dateDebut: $('Creer Session BDD').first().json.date_debut,\n    dateFin: $('Creer Session BDD').first().json.date_fin,\n    nbCreneaux: $('Validateur').first().json.creneaux.length,\n    totalHeures: $('Validateur').first().json.totalHeuresPlacees,\n    rapport: $('Validateur').first().json.rapport\n  }\n}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "50fed623-fd6c-4a0f-bdeb-db4ce493a808",
      "name": "Repondre Succes",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2976,
        -496
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        976,
        -496
      ],
      "id": "ec247709-39c8-42bf-a7cb-7c246f8bafd0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kgifyii9WfcEdz0M",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -816,
        -352
      ],
      "id": "056c64e6-9e88-48eb-a12f-c8605dafd692",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "kgifyii9WfcEdz0M",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Session": {
      "main": [
        [
          {
            "node": "Extraire Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraire Payload": {
      "main": [
        [
          {
            "node": "Payload Valide?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Valide?": {
      "main": [
        [
          {
            "node": "Verifier Formation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Refus Payload Invalide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifier Formation": {
      "main": [
        [
          {
            "node": "Formation Trouvee?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formation Trouvee?": {
      "main": [
        [
          {
            "node": "Observations?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Refus Formation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Observations?": {
      "main": [
        [
          {
            "node": "IA Parser Observations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fusionner Parametres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Parser Observations": {
      "main": [
        [
          {
            "node": "Fusionner Parametres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusionner Parametres": {
      "main": [
        [
          {
            "node": "Calculer Dates Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculer Dates Candidates": {
      "main": [
        [
          {
            "node": "Assez de Dates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assez de Dates?": {
      "main": [
        [
          {
            "node": "Query Salles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Refus Pas Assez Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Salles": {
      "main": [
        [
          {
            "node": "Query Formateurs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Formateurs": {
      "main": [
        [
          {
            "node": "Croiser Disponibilites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Croiser Disponibilites": {
      "main": [
        [
          {
            "node": "Solutions Viables?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solutions Viables?": {
      "main": [
        [
          {
            "node": "IA Choix Optimal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Refus Aucune Solution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Choix Optimal": {
      "main": [
        [
          {
            "node": "Parser Choix IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser Choix IA": {
      "main": [
        [
          {
            "node": "Generer Creneaux",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generer Creneaux": {
      "main": [
        [
          {
            "node": "Validateur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validateur": {
      "main": [
        [
          {
            "node": "Validation OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation OK?": {
      "main": [
        [
          {
            "node": "Creer Session BDD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Refus Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creer Session BDD": {
      "main": [
        [
          {
            "node": "Preparer Reservations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparer Reservations": {
      "main": [
        [
          {
            "node": "Creer Reservations Salles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creer Reservations Salles": {
      "main": [
        [
          {
            "node": "Notification Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification Admin": {
      "main": [
        [
          {
            "node": "Repondre Succes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "IA Choix Optimal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "IA Parser Observations",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b53440b2-1115-4afe-b4de-713fdd1dc7fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5012b68dde564fb150afb86a491d532a18e570f162c9e0a5e2f430eff6626df4"
  },
  "id": "Od3mwdVKiwGG8suF21sAt",
  "tags": [
    {
      "name": "v2",
      "id": "BIicNuOc4vcjVISY",
      "updatedAt": "2026-03-01T05:55:07.884Z",
      "createdAt": "2026-03-01T05:55:07.884Z"
    },
    {
      "name": "planning",
      "id": "CIMK0gYzDkHXYskY",
      "updatedAt": "2026-03-01T05:55:07.871Z",
      "createdAt": "2026-03-01T05:55:07.871Z"
    },
    {
      "name": "formation-courte",
      "id": "Sz6t3iDe0UhQPrqM",
      "updatedAt": "2026-03-01T05:55:07.886Z",
      "createdAt": "2026-03-01T05:55:07.886Z"
    }
  ]
}